{{ include('page_head.html') }}

<section id="content-area" class="cs-consulting"> <!-- sets color-scheme -->

    <section id="media-head">
        <div class="cinescope">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text -->
                <h4 class="font-bg white"><span>CaT Concepts and Training GmbH</span></h4>
                <h1 class="font-bg"><span>Strategie und Orientierung im Corporate Learning</span></h1>
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>

            <!--slider cinescope -->
            <div class="swiper bannerSwiper">
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                        <img src="images/bg-header-03.png" alt="Learning Management">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/bg-header-03.png" alt="e-Learning-Content">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/bg-header-03.png" alt="Consulting">
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section id="content">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <div id="content-anchor" class="anchor-target"></div>
                        <!-- <h4>CaT Concepts and Training GmbH</h4> -->
                        <div class="navigator">
                            <div class="element-container flex flex-row">
                                <div class="float-element"></div>
                                <div class="float-element"></div>
                                <div class="float-element active"></div>
                            </div>
                        </div>
                        <div class="spacer-md"></div>
                        <h2>Strategie und Orientierung im Corporate Learning</h2>
                    </div>
                    <!-- col 1 -->
                    <div class="col-sm-12 col-md-6" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <p>Sich im Kosmos der digitalen Bildungswelt zurechtzufinden, ist nicht einfach. Nicht nur, dass dieses Thema recht IT-lastig sein kann, es hat in den letzten Jahren auch stark an Fahrt aufgenommen. Homeoffice, New Work, adaptives Lernen, KI und natürlich digitale Transformation generell – all diese Dinge stehen im Raum, wenn Unternehmen heute über Neuerungen im Bildungsbereich nachdenken oder schon mittendrin in der Erneuerung sind. </p>
                    </div>
    
                    <!-- col 2 -->
                    <div class="col-sm-12 col-md-6" data-aos="zoom-in" data-aos-delay="500" data-aos-anchor-placement="center-bottom">
                        <p>Wir begleiten unsere Kunden seit jeher recht engmaschig bei der Einführung eines neuen Lernmanagementsystems im Unternehmen oder wenn es darum geht, bestimmte Lernstrategien zu entwickeln – und bleiben am Ball bis zum endgültigen Go-live.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="story-head" class="story-head">
        <div class="bg lightgray innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5 col-sm-3" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <div class="storyhead">
                            <h1 class="font-bg white"><span>CaT</span><br><span>Storys</span></h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="spacer-lg"></div>
                    <div class="col-xs-10 col-sm-8" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <h3>Wie wir Beratung verstehen!</h3>
                        <p>Schauen Sie sich genauer an, wie wir mit unserer langjährigen Erfahrung im digitalen Bildungsmanagement individuelle Konzepte und Lösungen für und mit unsere Kunden erarbeiten ...</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>

    <section id="department-story-slider">
        <div class="cardslider bg offset-darkgray hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
                        <div class="card-slider swiper cardSwiper" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <div class="swiper-wrapper">

{{ attribute(_context.sections.department, "slider-consulting.html")|raw }}

                            </div>

                            <!-- <div class="swiper-scrollbar"></div> -->
                            <div class="swiper-pagination"></div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
{{ include('sections/index/contact.html')}}

</section>

{{ include('footer.html') }}
{{ include('page_footer.html') }}

