{{ include('page_head.html') }}
<section id="content-area" class="cs-consulting"> <!-- sets color-scheme -->
    <section id="media-head">
        <div class="cinescope">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text -->
                <h4 class="font-bg white"><span>CaT Concepts and Training GmbH</span></h4>
                <h1 class="font-bg"><span>Strategie und Orientierung im Corporate Learning</span></h1>
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>
            
            <div class="media-wrapper media-bg right" style="background-image: url(images/bg-header-03.png);">
            <!--  <img src="images/cate001.png"> -->
            </div>
        </div>
    </section> 

    <section id="company">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-12"  data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <div id="company" class="anchor-target"></div>
                            <h4>CaT Concepts and Training GmbH</h4>
                            <h2 >Strategie und Orientierung im Corporate Learning</h2>
                        </div>
                        <!-- col 1 -->
                        <div class="col-sm-12 col-md-6" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <p>Sich im Kosmos der digitalen Bildungswelt zurechtzufinden, ist nicht einfach. Nicht nur, dass dieses Thema recht IT-lastig sein kann, es hat in den letzten Jahren auch stark an Fahrt aufgenommen. Homeoffice, New Work, adaptives Lernen, KI und natürlich digitale Transformation generell – all diese Dinge stehen im Raum, wenn Unternehmen heute über Neuerungen im Bildungsbereich nachdenken oder schon mittendrin in der Erneuerung sind. </p>
                        </div>
        
                        <!-- col 2 -->
                        <div class="col-sm-12 col-md-6" data-aos="zoom-in" data-aos-delay="500" data-aos-anchor-placement="center-bottom">
                            <p>Wir begleiten unsere Kunden seit jeher recht engmaschig bei der Einführung eines neuen Lernmanagementsystems im Unternehmen oder wenn es darum geht, bestimmte Lernstrategien zu entwickeln – und bleiben am Ball bis zum endgültigen Go-live.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="story-slider">
        <div class="cardslider bg offset-darkgray hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-slider swiper cardSwiper" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <div class="swiper-wrapper">

{{ attribute(_context.sections.story, "story-slider-consulting.html")|raw }}

                            </div>

                            <!-- <div class="swiper-scrollbar"></div> -->
                            <div class="swiper-pagination"></div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
{{ include('sections/index/contact.html')}}

</section>

{{ include('footer.html') }}

    <!-- swiper config -->
    <script>
        var swiper = new Swiper(".cardSwiper", {
            slidesPerView: 1,
            centeredSlides: false,
            spaceBetween: 20,
            slidesPerGroupSkip: 1,
            grabCursor: true,
            loop: true,
            keyboard: {
                enabled: true,
            },
            breakpoints: {
                769: {
                slidesPerView: 2,
                slidesPerGroup: 1,
                },
                990: {
                slidesPerView: 3,
                slidesPerGroup: 1,
                },
            },
            scrollbar: {
                el: ".swiper-scrollbar",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: "true",
            },
        });

    </script>

{{ include('page_footer.html') }}

