{{ include('page_head.html') }}

<section id="content-area" class="cs-learning"> <!-- sets color-scheme -->

    <section id="media-head">
        <div class="cinescope">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text -->
                <h4 class="font-bg white"><span>CaT Concepts and Training GmbH</span></h4>
                <h1 class="font-bg"><span>e-Learning-Produktion</span></h1>
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>

            <div class="media-wrapper media-bg" style="background-image: url(images/bg-header-02.png);">

        </div>
    </section> 

    <section id="description">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"  data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <!-- <h4>CaT Concepts and Training GmbH</h4> -->
                        <div class="navigator">
                            <div class="element-container flex flex-row">
                                <div class="float-element"></div>
                                <div class="float-element active"></div>
                                <div class="float-element"></div>
                            </div>
                        </div>
                        <div class="spacer-md"></div>
                        <h2>Digitale Trainingslösungen aller Formate</h2>
                    </div>
                    <!-- col 1 -->
                    <div class="col-sm-12 col-md-6" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <p>Wir sind ein Team aus Konzeptionisten, Illustrator*innen, Storyboardschreiber*innen, Filmproduzent*innen und Gestalter*innen und geben unser Bestes, um Ihre Inhalte zielgruppenkonform und packend für alle Mitarbeitenden aufzubereiten.</p>
                        <p>So, wie Unternehmen nun verstärkt auf Blended-Learning-Strategien und damit auf einen guten Mix aus allen Lernformaten setzen, so sehen auch wir unseren Beitrag darin, Formate zu kreieren, die flexibel und vielseitig einsetzbar sind.</p>
                    </div>
    
                    <!-- col 2 -->
                    <div class="col-sm-12 col-md-6" data-aos="zoom-in" data-aos-delay="500" data-aos-anchor-placement="center-bottom">
                        <p>Wir unterstützen alle Formen der Zusammenarbeit – vom maximal interaktiven Hochglanz-Training bis zur umgewandelten PowerPoint-Präsentation, von einer "Auftragsarbeit" bis hin zum gemeinsamen Projekt, bei dem sich kundeninterne Schulungsabteilungen und unsere Kreativen gegenseitig zuarbeiten.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div id="card-slider"></div>

    <section id="story-head" class="story-head">
        <div class="bg lightgray innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5 col-sm-3" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                    <div class="spacer-lg"></div>
                        <div class="storyhead">
                            <h1 class="font-bg white"><span>CaT</span><br><span>Storys</span></h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="spacer-lg"></div>
                    <div class="col-xs-10 col-sm-8" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <h3>Wie wir E-Learning-Inhalte produzieren!</h3>
                        <p>In diesen CaT Stories erzählen wir über web-based Trainings, Erklärfilme und maßgeschneiderte Bildkonzepte, die das digital-gestützte Lernen verbessern helfen ...</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>

    <section id="department-story-slider">
        <div class="cardslider bg offset-darkgray hero">
            <div class="container">
                <div class="row">

                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
                        <div class="card-slider swiper cardSwiper" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <div class="swiper-wrapper">

{{ attribute(_context.sections.department, "slider-elearning.html")|raw }}
                              
                            </div>

                            <!-- <div class="swiper-scrollbar"></div> -->
                            <div class="swiper-pagination"></div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{{ include('sections/index/contact.html')}}

</section>

{{ include('footer.html') }}
{{ include('page_footer.html') }}

