{{ include('page_head.html') }}

<section id="content-area" class="cs-elearning"> <!-- sets color-scheme -->

    {{ attribute(_context.sections.story_elearning, "elearning_story_img003.html")|raw }}
    {{ attribute(_context.sections.story_elearning, "elearning_story_body003.html")|raw }}

</section>

{{ include('footer.html') }}
{{ include('page_footer.html') }}

