{{ include('page_head.html') }}

<section id="content-area" class="cs-global"> <!-- sets color-scheme -->
    {{ include('sections/index/media-head.html')}}
    {{ include('sections/index/intro.html')}}
    {{ include('sections/index/customer-slides.html')}}
    {{ include('sections/index/media-collection.html')}}
    {{ include('sections/index/company.html')}}
    {{ include('sections/index/departments.html')}}
    {{ include('sections/contact/callback.html')}}
</section>

{{ include('footer.html')}}


<!-- logo-swiper config -->
    <script>
        var swiper = new Swiper(".logoSwiper", {
            slidesPerView: 1,
            centeredSlides: false,
            spaceBetween: 20,
            slidesPerGroupSkip: 1,
            keyboard: {
                enabled: true,
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            breakpoints: {
                769: {
                slidesPerView: 2,
                slidesPerGroup: 1,
                },
                990: {
                slidesPerView: 3,
                slidesPerGroup: 1,
                },
            },
        });

    </script>

{{ include('page_footer.html') }}

