{{ include('page_head.html') }}

<section id="content-area" class="cs-global"> <!-- sets color-scheme -->
    {{ include('sections/index/head-slider.html')}}
    {{ include('sections/index/intro.html')}}
    {{ include('sections/index/customer-slides.html')}}
    {{ include('sections/index/media-collection.html')}}
    {{ include('sections/index/company.html')}}
    {{ include('sections/index/departments.html')}}
    {{ include('sections/index/contact.html')}}
</section>

{{ include('footer.html') }}

{{ include('page_footer.html') }}

