{{ include('page_head.html') }}

<section id="content-area" class="cs-global"> <!-- sets color-scheme -->
    {{ include('sections/index/media-head.html')}}
    {{ include('sections/index/intro.html')}}
    {{ include('sections/index/customer-slides.html')}}
    {{ include('sections/index/story-head.html')}}
    {{ include('sections/index/featured-stories.html')}}
    {{ include('sections/index/company.html')}}
    {{ include('sections/index/departments.html')}}
    {{ include('sections/contact/callback.html')}}
</section>

{{ include('footer.html')}}

{{ include('page_footer.html') }}

