{{ include('page_head.html') }}
<section id="content-area" class="cs-lms"> <!-- sets color-scheme -->
    <section id="media-head">
        <div class="cinescope">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text -->
                <h4 class="font-bg white"><span>CaT Concepts and Training GmbH</span></h4>
                <h1 class="font-bg"><span>Das Lernmanagement&shy;system cate</span></h1>
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>

            <!--slider cinescope -->
            <div class="swiper bannerSwiper">
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                        <img src="images/bg-header-01.png" alt="Learning Management">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/bg-header-01.png" alt="e-Learning-Content">
                    </div>

                    <div class="swiper-slide">
                        <img src="images/bg-header-01.png" alt="Consulting">
                    </div>
                </div>
            </div>
            
        </div>
    </section> 

    <section id="content">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="content-anchor" class="anchor-target"></div>
                        <!-- <h4>CaT Concepts and Training GmbH</h4> -->
                        <div class="navigator">
                            <div class="element-container flex flex-row">
                                <div class="float-element active"></div>
                                <div class="float-element"></div>
                                <div class="float-element"></div>
                            </div>
                        </div>
                        <div class="spacer-md"></div>
                        <h2>Ihr Wegbegleiter im digitalen Bildungsmanagement</h2>
                    </div>
                    <!-- col 1 -->
                    <div class="col-sm-12 col-md-6"  data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <p>cate ist unser Lernmanagementsystem – entwickelt aus dem Kern des Open Source Lernmanagementsystem ILIAS, perfektioniert für die besonderen Ansprüche in Unternehmen. Einige der besonderen Gaben des Systems: die Verwaltung und Automatisierung von Pflichtschulungen, die Abbildung von Organisationsstrukturen, ein ausgefeiltes Rollen- und Rechtesystem und eine hohe Flexibilität, die es möglich macht, auch individuelle Szenarien umzusetzen.

                            </p>
                    </div>
    
                    <!-- col 2 -->
                    <div class="col-sm-12 col-md-6"  data-aos="zoom-in" data-aos-delay="500" data-aos-anchor-placement="center-bottom">
                        <p>cate bietet neben einem kompletten SaaS-Management den Vorteil der „Weisheit der Vielen“: gemeint ist die Sicherheit einer auf Qualität bedachten Community, die nicht nur rein kommerziellen Interessen folgt. Denn der Input einer großen Gemeinschaft von Entwicklern, die motiviert sind, die bestmögliche Software zu kreieren, führt zu einem überlegenen Produkt – auch für Ihr Unternehmen.</p>

                        <p>
                            <a href="http://cate-tms.de" target="_blank" class="link">Besuchen Sie die cate-Website</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="story-head" class="story-head">
        <div class="bg lightgray innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5 col-sm-3" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <div class="storyhead">
                            <h1 class="font-bg white"><span>CaT</span><br><span>Storys</span></h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="spacer-lg"></div>
                    <div class="col-xs-10 col-sm-8" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                        <h3>Was bedeutet eigentlich Lernmentmanagement?</h3>
                        <p> In diesen CaT Stories erzählen wir über Konzepte für das digitale Bildungsmanagement und unser Lernmanagementsystem "cate" ...</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>

    <section id="department-story-slider">
        <div class="cardslider bg offset-darkgray hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
                        <div class="card-slider swiper cardSwiper" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <div class="swiper-wrapper">

{{ attribute(_context.sections.department, "slider-lms.html")|raw }}
                             
                            </div>

                            <!-- <div class="swiper-scrollbar"></div> -->
                            <div class="swiper-pagination"></div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{{ include('sections/index/contact.html')}}

</section>  

{{ include('footer.html') }}
{{ include('page_footer.html') }}

