{{ include('page_head.html') }}
<section id="content-area" class="cs-lms"> <!-- sets color-scheme -->
    <section id="media-head">
        <div class="cinescope">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text -->
                <h4 class="font-bg white"><span>CaT Concepts and Training GmbH</span></h4>
                <h1 class="font-bg"><span>Das Lernmanagement&shy;system cate</span></h1>
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>
            
            <div class="media-wrapper media-bg right" style="background-image: url(images/bg-header-01.png);">
            <!--  <img src="images/cate001.png"> -->
            </div>
        </div>
    </section> 

    <section id="company">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-12">
                            <div id="company" class="anchor-target"></div>
                            <h4>CaT Concepts and Training GmbH</h4>
                            <h2>Ihr Wegbegleiter im digitalen Bildungsmanagement</h2>
                        </div>
                        <!-- col 1 -->
                        <div class="col-sm-12 col-md-6"  data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <p>cate ist unser Lernmanagementsystem – entwickelt aus dem Kern des Open Source Lernmanagementsystem ILIAS, perfektioniert für die besonderen Ansprüche in Unternehmen. Einige der besonderen Gaben des Systems: die Verwaltung und Automatisierung von Pflichtschulungen, die Abbildung von Organisationsstrukturen, ein ausgefeiltes Rollen- und Rechtesystem und eine hohe Flexibilität, die es möglich macht, auch individuelle Szenarien umzusetzen.

                                </p>
                        </div>
        
                        <!-- col 2 -->
                        <div class="col-sm-12 col-md-6"  data-aos="zoom-in" data-aos-delay="500" data-aos-anchor-placement="center-bottom">
                            <p>cate bietet neben einem kompletten SaaS-Management den Vorteil der „Weisheit der Vielen“: gemeint ist die Sicherheit einer auf Qualität bedachten Community, die nicht nur rein kommerziellen Interessen folgt. Denn der Input einer großen Gemeinschaft von Entwicklern, die motiviert sind, die bestmögliche Software zu kreieren, führt zu einem überlegenen Produkt – auch für Ihr Unternehmen.</p>

                            <p>
                                <a href="http://cate-tms.de" target="_blank" class="link">Besuchen Sie die cate-Website</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="story-slider" >
        <div class="cardslider bg offset-darkgray hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-slider swiper cardSwiper" data-aos="zoom-in" data-aos-anchor-placement="center-bottom">
                            <div class="swiper-wrapper">

{{ attribute(_context.sections.story, "story-slider-lms.html")|raw }}
                             
                            </div>

                            <!-- <div class="swiper-scrollbar"></div> -->
                            <div class="swiper-pagination"></div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{{ include('sections/index/contact.html')}}

</section>
    

{{ include('footer.html') }}

    <!-- swiper config -->
    <script>
        var swiper = new Swiper(".cardSwiper", {
            slidesPerView: 1,
            centeredSlides: false,
            spaceBetween: 20,
            slidesPerGroupSkip: 1,
            loop: true,
            grabCursor: true,
            keyboard: {
                enabled: true,
            },
            breakpoints: {
                769: {
                slidesPerView: 2,
                slidesPerGroup: 1,
                },
                990: {
                slidesPerView: 3,
                slidesPerGroup: 1,
                },
            },
            scrollbar: {
                el: ".swiper-scrollbar",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: "true",
            },
        });

    </script>

{{ include('page_footer.html') }}

